<ion-header>
	<ion-navbar>
		<ion-title>Cnode Logo</ion-title>
	</ion-navbar>
	<ion-buttons end>
    <button ion-button (click)="presentPopover($event)">
      <ion-icon name="more"></ion-icon>
    </button>
  </ion-buttons>
</ion-header>
<ion-content>
	<ion-list *ngIf="messageInfo">
		<ion-list-header>已读消息</ion-list-header>
		<ion-item *ngFor="let notReadMessage of messageInfo.hasnot_read_messages"></ion-item>
		<ion-item *ngIf="!messageInfo.hasnot_read_messages.length">
			<p>暂无更多已读消息</p>
		</ion-item>
		<ion-list-header>未读消息</ion-list-header>
		<ion-item *ngFor="let readMessage of messageInfo.has_read_messages"></ion-item>
		<ion-item *ngIf="!messageInfo.hasnot_read_messages.length">
			<p>暂无更多未读消息</p>
		</ion-item>
	</ion-list>
</ion-content>