<ion-header>
  <ion-navbar>
    <ion-title>
      Cnode Logo
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
	<ion-list *ngIf = "jobList">
    <ion-item *ngFor = "let item of jobList">
      <ion-thumbnail item-left>
        <img [src]="item.author.avatar_url">
      </ion-thumbnail>
      <h2 class="text-overflow small" (click)="gotToarticleItem(item.id)">{{ item.title }}</h2>
      <!-- <div clear item-right>{{ item.last_reply_at }}</div> -->
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" enable="true">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
